<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.breweryarts.co.uk%2Fapp%2Fuploads%2F2017%2F11%2FCinema-Ticket-Prices.jpg&f=1&nofb=1);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <%= link_to "See my lists", lists_path, class: "btn btn-primary" %>
  </div>
</div>
