.card-category {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category-menu {
  // position: absolute;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  background-color: rgb(212, 212, 212);
  border-radius: 0 0 5px 5px;
  padding: 0.2em 0.5em;
  opacity: 0.2;
  transition: opacity 230ms ease-in;
}

.card-category-menu:hover {
  opacity: 0.8;
}
