.togglable-menu {
  width: 0px;
  overflow: hidden;
  transition: width 380ms ease-in-out;
}

.togglable-menu-icon {
  cursor: pointer;
  font-size: 1.5em;
  opacity: 0.5;
}

.togglable-menu-icon:hover {
  opacity: 0.8;
}
